In [32]:
import pandas as pd

df = pd.DataFrame([1,2,3,4])
print (df.columns, "\n")
print (df.index , "\n")
print (df.values , "\n")

df = pd.DataFrame([[100,200,300],[400,500,600]], columns=['a','b','c'], index=['one','two'])
print(df, "\n")

df = df.reindex(index = ['two','one']) # change index
print(df, "\n")

df = df.reindex(columns = ['c','b','a']) # change  columns
print(df, "\n")

#print(df.drop(['a'], axis=1), "\n") # a 삭제 # axis 왜쓴거지??@@@@@@@@@@@@@@ 그냥구분?

#print(df.drop(['one'], axis=0), "\n") # one 삭제

print(df.ix[0], "\n") #?????????????????????????????

RangeIndex(start=0, stop=1, step=1)

RangeIndex(start=0, stop=4, step=1)

[[1]
 [2]
 [3]
 [4]]

       a    b    c
one  100  200  300
two  400  500  600

       a    b    c
two  400  500  600
one  100  200  300

       c    b    a
two  600  500  400
one  300  200  100

c    600
b    500
a    400
Name: two, dtype: int64

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [53]:
#Panel
#pandas.Panel(data, items, major_axis, minor_axis, dtype)
import pandas as pd
import numpy as np

data = np.random.rand(2,4,5)
print (data, "\n")


p = pd.Panel(data)
print(p, "\n")

data = {'item1':pd.DataFrame(np.random.rand(4,3)), 'item2':pd.DataFrame(np.random.rand(4,2))}
p = pd.Panel(data)
print(p, "\n")

[[[0.32932026 0.85651242 0.10248177 0.17577681 0.2648617 ]
  [0.48750865 0.66162468 0.45417153 0.28757031 0.36266625]
  [0.43794982 0.58297758 0.56968071 0.24559091 0.6026797 ]
  [0.38805433 0.69426556 0.07973633 0.94052888 0.82905418]]

 [[0.01901407 0.90214356 0.06248183 0.99194532 0.9159684 ]
  [0.37784767 0.26638388 0.44069744 0.6774129  0.62665731]
  [0.63086444 0.55528613 0.94237657 0.14342898 0.43881333]
  [0.11794466 0.92739521 0.08587052 0.30636949 0.4823552 ]]]

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 4 (major_axis) x 5 (minor_axis)
Items axis: 0 to 1
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 4

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 4 (major_axis) x 3 (minor_axis)
Items axis: item1 to item2
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 2

             0        1        2    3
count  2.00000  2.00000  2.00000  1.0
mean   2.50000  3.50000  4.50000  7.0
std    2.12132  2.12132  2.12132  NaN
min    1.00000  2.00000  3.00000  7.0
25%    1.75000  2.75000  3.75000  7.0
50%    2.50000  3.50000  4.50000  7.0
75%    3.25000  4.25000  5.25000  7.0
max    4.00000  5.00000  6.00000  7.0

In [69]:
# Statistics
import pandas as pd
d = {
    'Name' : pd.Series(['tom', 'John','Amy']), 
    'Age' : pd.Series([20, 21, 23]),
    'Rating' : pd.Series(['4.5', '3.9', '3.4'])
    }
df = pd.DataFrame(d)


print(df.std(), "\n") #표준편차
print(df.var(), "\n") #분산

print(df.describe(), " \n") #종합 // String 자동으로 제거

Age    1.527525
dtype: float64

Age    2.333333
dtype: float64

             Age
count   3.000000
mean   21.333333
std     1.527525
min    20.000000
25%    20.500000
50%    21.000000
75%    22.000000
max    23.000000

In [97]:
import pandas as pd
import numpy as np

def add(a,b):
    return a + b

df = pd.DataFrame(np.random.rand(5,3), columns=['col1','col2','col3'])

print(df, "\n")

print(df.pipe(add,2), "\n") # 모든값에 2 더함

print(df.apply(np.mean), "\n") # columns 기준

print(df.apply(np.mean, axis = 1),"\n") # index 기준

print(df.apply(lambda x:x.max() - x.min()), "\n") # ???@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@존재하지 않는 함수 정의해서 사용???

       col1      col2      col3
0  0.871493  0.164455  0.940777
1  0.622731  0.405826  0.249821
2  0.913341  0.961148  0.350729
3  0.142417  0.295559  0.942689
4  0.003129  0.068270  0.844778

       col1      col2      col3
0  2.871493  2.164455  2.940777
1  2.622731  2.405826  2.249821
2  2.913341  2.961148  2.350729
3  2.142417  2.295559  2.942689
4  2.003129  2.068270  2.844778

col1    0.510622
col2    0.379052
col3    0.665759
dtype: float64

0    0.658908
1    0.426126
2    0.741739
3    0.460222
4    0.305392
dtype: float64

col1    0.910211
col2    0.892878
col3    0.692868
dtype: float64

In [101]:
# rename
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.rand(5,3), columns=['col1','col2','col3'])
df = df.rename(columns={'col1':'c1', 'col2':'c2'})
df = df.rename(index={0:'one', 1:'two'})
print(df, "\n")

           c1        c2      col3
one  0.854544  0.444028  0.743775
two  0.012778  0.916208  0.865069
2    0.428961  0.972164  0.516928
3    0.076021  0.527869  0.339216
4    0.885547  0.387033  0.239471

In [115]:
# DataFrame Iteration
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.rand(5,3), columns=['col1','col2','col3'])

for col in df:
    print(col) # column만 나옴
print("\n")

for i in df.values:
    print(i)
print("\n")
    
for key, values in df.iteritems(): # index 기준
    print(key, values, "\n")
    break
print("\n")


for row_index, row in df.iterrows(): # row기준
    print(row_index, row, "\n")
    break
print("\n")

for row in df.itertuples(): # row기준
    print(row, "\n")
    break
print("\n")

col1
col2
col3


[0.36272591 0.53202286 0.84828858]
[0.05861586 0.53984813 0.26972233]
[0.92020584 0.52142799 0.85467124]
[0.92717733 0.68756144 0.14130249]
[0.69719133 0.79227796 0.66435679]


col1 0    0.362726
1    0.058616
2    0.920206
3    0.927177
4    0.697191
Name: col1, dtype: float64



0 col1    0.362726
col2    0.532023
col3    0.848289
Name: 0, dtype: float64



Pandas(Index=0, col1=0.3627259063804027, col2=0.5320228550535268, col3=0.848288577286411)

In [124]:
# sorting

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.rand(5,2), index=[2,1,0,3,4])
print(df, "\n")

df = df.sort_index(ascending=False)
print(df, "\n")

df = df.sort_index(axis = 1)
print(df, "\n")

df.rename(columns = {
    df.columns[0] : 'col1',
    df.columns[1] : 'col2'}, inplace=True
)
print(df, "\n")

df = df.sort_values(by='col1')
print(df, "\n")

df = df.sort_values(by='col2')
print(df, "\n")

df = df.sort_values(by=['col1', 'col2'])
print(df, "\n")

df = df.sort_values(by=['col1', 'col2'], ascending=[True,False])
print(df, "\n")

          0         1
2  0.517162  0.621679
1  0.949080  0.904889
0  0.823561  0.821153
3  0.444203  0.419633
4  0.707654  0.669460

          0         1
4  0.707654  0.669460
3  0.444203  0.419633
2  0.517162  0.621679
1  0.949080  0.904889
0  0.823561  0.821153

          0         1
4  0.707654  0.669460
3  0.444203  0.419633
2  0.517162  0.621679
1  0.949080  0.904889
0  0.823561  0.821153

       col1      col2
4  0.707654  0.669460
3  0.444203  0.419633
2  0.517162  0.621679
1  0.949080  0.904889
0  0.823561  0.821153

       col1      col2
3  0.444203  0.419633
2  0.517162  0.621679
4  0.707654  0.669460
0  0.823561  0.821153
1  0.949080  0.904889

       col1      col2
3  0.444203  0.419633
2  0.517162  0.621679
4  0.707654  0.669460
0  0.823561  0.821153
1  0.949080  0.904889

       col1      col2
3  0.444203  0.419633
2  0.517162  0.621679
4  0.707654  0.669460
0  0.823561  0.821153
1  0.949080  0.904889

       col1      col2
3  0.444203  0.419633
2  0.517162  0.621679
4  0.707654  0.669460
0  0.823561  0.821153
1  0.949080  0.904889

In [125]:
# Missing Data -> NA or NaN
df = pd.DataFrame(np.random.randn(5,3),
                  index = ['a','c','e','f','h'],
                  columns=['one','two','three'])
print(df, "\n")

df = df.reindex(['a','b','c','d','e','f','g','h'])
print(df, "\n")
print(df['one'].isnull(), "\n")
print(df['one'].notnull(), "\n")
print(df['one'].sum(), "\n")
print(df.dropna(), "\n") # NaN값 제거 // 0으로채우는건 fillna(0)


df = pd.DataFrame(index = [1,2,3,4,5],
                 columns=['one','two'])
print(df, "\n")
print(df.fillna(0), "\n") # NaN을 0으로 채움 // Nan값 제거는 dropna()

        one       two     three
a -0.698975  0.134666  1.161331
c -0.765304  0.372815 -0.351475
e -0.504049 -1.734840  0.168543
f  1.032340 -0.375526  2.084932
h -0.563521 -0.258723  0.195472

        one       two     three
a -0.698975  0.134666  1.161331
b       NaN       NaN       NaN
c -0.765304  0.372815 -0.351475
d       NaN       NaN       NaN
e -0.504049 -1.734840  0.168543
f  1.032340 -0.375526  2.084932
g       NaN       NaN       NaN
h -0.563521 -0.258723  0.195472

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

-1.4995090742636639

        one       two     three
a -0.698975  0.134666  1.161331
c -0.765304  0.372815 -0.351475
e -0.504049 -1.734840  0.168543
f  1.032340 -0.375526  2.084932
h -0.563521 -0.258723  0.195472

   one  two
1  NaN  NaN
2  NaN  NaN
3  NaN  NaN
4  NaN  NaN
5  NaN  NaN

   one  two
1    0    0
2    0    0
3    0    0
4    0    0
5    0    0

In [126]:
import pandas as pd
import numpy as np

data = {'Team' : ['Tom', 'John','John', 'Amy'],
        'Rank' : [1,2,2,3],
        'Year': [2014, 2016, 2016, 2018],
        'Point' : [10, 15, 20, 10]
       }

df= pd.DataFrame(data)
print(df, "\n")

print(df.groupby('Team')['Point'].mean(), "\n")

print(df.groupby('Team').groups, "\n")

df = df.groupby('Team')
for name,group in df:
    print(name, "\n", group, "\n")

   Team  Rank  Year  Point
0   Tom     1  2014     10
1  John     2  2016     15
2  John     2  2016     20
3   Amy     3  2018     10

Team
Amy     10.0
John    17.5
Tom     10.0
Name: Point, dtype: float64

{'Amy': Int64Index([3], dtype='int64'), 'John': Int64Index([1, 2], dtype='int64'), 'Tom': Int64Index([0], dtype='int64')}

Amy
   Team  Rank  Year  Point
3  Amy     3  2018     10

John
    Team  Rank  Year  Point
1  John     2  2016     15
2  John     2  2016     20

Tom
   Team  Rank  Year  Point
0  Tom     1  2014     10

In [127]:
# Merge & Join
#pd.merge(left,right,how='inner', on=None, left_on=None,
#        right_on=None,left_index = False, right_index=False, sort=True

import pandas as pd
import numpy as np

left = pd.DataFrame({
    'id' : [1,2,3,4,5],
    'Name' : ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
    'Subject_id' : ['sub1', 'sub2', 'sub4', 'sub6', 'sub5']})


right = pd.DataFrame({
    'id' : [1,2,3,4,5],
    'Name' : ['Alex2', 'Amy2', 'Allen2', 'Alice2', 'Ayoung2'],
    'Subject_id' : ['sub2', 'sub4', 'sub3', 'sub6', 'sub5']})


print (left, "\n\n", right, "\n")

pd.merge(left, right, on='id')
pd.merge(left, right, on=['id', 'Subject_id'])
print(pd.merge(left,right,on='Subject_id',how='left'), "\n") # Left Outer Join
print(pd.merge(left,right,on='Subject_id',how='right'), "\n") # Right Outer Join
print(pd.merge(left,right,on='Subject_id',how='outer'), "\n") # Full Outer Join
print(pd.merge(left,right,on='Subject_id',how='inner'), "\n") # Inner Join

   id    Name Subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5

    id     Name Subject_id
0   1    Alex2       sub2
1   2     Amy2       sub4
2   3   Allen2       sub3
3   4   Alice2       sub6
4   5  Ayoung2       sub5

   id_x  Name_x Subject_id  id_y   Name_y
0     1    Alex       sub1   NaN      NaN
1     2     Amy       sub2   1.0    Alex2
2     3   Allen       sub4   2.0     Amy2
3     4   Alice       sub6   4.0   Alice2
4     5  Ayoung       sub5   5.0  Ayoung2

   id_x  Name_x Subject_id  id_y   Name_y
0   2.0     Amy       sub2     1    Alex2
1   3.0   Allen       sub4     2     Amy2
2   4.0   Alice       sub6     4   Alice2
3   5.0  Ayoung       sub5     5  Ayoung2
4   NaN     NaN       sub3     3   Allen2

   id_x  Name_x Subject_id  id_y   Name_y
0   1.0    Alex       sub1   NaN      NaN
1   2.0     Amy       sub2   1.0    Alex2
2   3.0   Allen       sub4   2.0     Amy2
3   4.0   Alice       sub6   4.0   Alice2
4   5.0  Ayoung       sub5   5.0  Ayoung2
5   NaN     NaN       sub3   3.0   Allen2

   id_x  Name_x Subject_id  id_y   Name_y
0     2     Amy       sub2     1    Alex2
1     3   Allen       sub4     2     Amy2
2     4   Alice       sub6     4   Alice2
3     5  Ayoung       sub5     5  Ayoung2